# Database connection string configuration
# Example: postgresql://username:password@localhost:5432/laborlink?schema=public
DATABASE_URL="postgresql://vandy:6969@localhost:5432/postgres?schema=public"
PORT=5050

# Google OAuth Client ID for verification (Optional, backend will fallback to simulation if empty)
GOOGLE_CLIENT_ID=""

